@using IronBugCore.Web.Helpers
@{
    var nomeDoSistema = "Quiz IAP - Cariovaldo";

    string controller = ViewBag.Controller;
    string action = ViewBag.Action;
    var title = ViewBag.Title;

    var itensDoMenu = new List<MenuItem>
    {
        new("fa fa-home fa-fw", "Dashboard", "Index", "Home", new string[] { "Index" }),
        new("fa fa-paper-plane fa-fw", "Requisições", "Index", "Requisicao", new string[] { "Index", "Create" }),
    };
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href='@Url.AbsoluteContent("~/")'/>
    <title>@title - Quiz IAP</title>

    @await Html.PartialAsync("_HeadPartial")
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
<loading></loading>
<show-message></show-message>
<main>

    <aside class="d-flex flex-column flex-shrink-0 p-2 shadow-sm">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <span class="fs-4 fw-bolder">
                    @nomeDoSistema
                </span>
        </a>

        <ul class="nav nav-pills flex-column mb-auto mt-3">

            @foreach (var item in itensDoMenu)
            {
                var active = "link-dark";
                if (item.Controller == controller && item.ActiveActions.Contains(action))
                {
                    active = "active";
                }

                <li class="nav-item">
                    <a href="@Url.Action(item.Action, item.Controller)" class="nav-link @active">
                        <i class="@item.Icon"></i>
                        @item.Text
                    </a>
                </li>
            }
        </ul>
    </aside>


    <div class="container-fluid mt-2">
        @RenderBody()
    </div>
</main>

</body>
</html>